<header class="rss-header rss-header--fade">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <!-- <img src="{{ site.baseurl }}/img/rss-logo-small.png"
            alt="Renaissance secondary school logo"
            width="20"
            height="20"> -->
          Renaissance Secondary School
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.title == 'About' %}class="active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li>
        <li {% if page.title == 'Founding Board' %}class="active"{% endif %}><a href="/founding-board">Founding Board</a></li>
        <li {% if page.title == 'FAQ' %}class="active"{% endif %}><a href="/faq">FAQ</a></li>
        <li {% if page.title == 'Volunteer' %}class="active"{% endif %}><a href="/volunteer">Volunteer</a></li>
        <li><a href="https://www.coloradogives.org/renaissance">Donate</a></li>
      </ul>
    </div>
  </nav>
</header>
