<header class="rss-header rss-header--fade">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="rss-header__social hidden-xs">
      <div class="container">
        <ul class="nav navbar-nav navbar-right hidden-sm">
          <li><a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
          <li><a href="mailto:board@renaissancesecondary.org"><i class="fa fa-envelope-o"></i> <small>{{ site.email }}</small></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header">
        <img src="{{ site.baseurl }}/img/rss-logo-small.png" class="rss-header__logo hidden-md hidden-lg" alt="Renaissance secondary school logo">
        <a class="navbar-brand hidden-sm hidden-xs" href="{{ site.baseurl }}/">
          {{ site.school_name }}
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.title == 'About' %}class="active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li>
        <li {% if page.title == 'Founding Board' %}class="active"{% endif %}><a href="{{ site.baseurl }}/founding-board">Founding Board</a></li>
        <li {% if page.title == 'FAQ' %}class="active"{% endif %}><a href="{{ site.baseurl }}/faq">FAQ</a></li>
        <li {% if page.title == 'Volunteer' %}class="active"{% endif %}><a href="{{ site.baseurl }}/volunteer">Volunteer</a></li>
        <li><a href="https://www.coloradogives.org/renaissance">Donate</a></li>
        <li class="rss-header__nav-item--call-to-action {% if page.title == 'Intent to Enroll' %} active{% endif %}"><a href="{{ site.baseurl }}/intent-to-enroll">Intent to Enroll</a></li>
      </ul>
    </div>
  </nav>
</header>
