<header class="rss-header rss-header--fade">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="rss-header__social hidden-xs">
      <div class="container">
        <ul class="nav navbar-nav navbar-right hidden-sm">
          <li><a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
          <li><a href="mailto:board@renaissancesecondary.org"><i class="fa fa-envelope-o"></i> <small>{{ site.email }}</small></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/{{ site.baseurl }}">
          <i class="fa fa-lg fa-home visible-xs"></i>
          <img src="{{ site.baseurl }}/img/rss-logo-small.png" class="rss-header__logo visible-sm" alt="Renaissance secondary school logo">
          <span class="hidden-xs hidden-sm">{{ site.school_name }}</span>
        </a>
      </div>
      <div class="hidden-xs">
        {% include header-primary-nav.html %}
      </div>
      <div class="rss-header__menu-container">
        <div class="visible-xs rss-bottom-sheet rss-collapse rss-header__menu">
          {% include header-primary-nav.html %}
          <button class="btn rss-btn--floating rss-header__btn-close"
            data-toggle="collapse"
            data-target=".rss-header__menu">
            <i class="fa fa-lg fa-close"></i>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <button class="btn rss-btn--call-to-action rss-btn--floating rss-header__btn-menu visible-xs"
    data-toggle="collapse"
    data-target=".rss-header__menu">
    <i class="fa fa-lg fa-bars"></i>
  </button>
</header>
