.rss-footer {
  padding: 60px 15px 0 15px;
  background-color: $rss-footer-bg;

  a {
    color: $rss-white;
  }
}

.rss-footer__row {
  @include make-row;

  padding-top: 10px;
  margin-bottom: 15px;
}

.rss-footer__row-copyright {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.rss-footer__section-left {
  @include make-sm-column(6);
}

.rss-footer__section-right {
  @include make-sm-column(6);

  @media (min-width: $screen-sm-min) {
    > a {
      float: right;
    }
  }
}

.rss-footer__section-span {
  @include make-sm-column(12);
}
