.rss-header {
  .nav > li.active {
    > a {
      background-color: transparent;
      border-bottom: solid 3px;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.rss-header--fade {
  .navbar {
    border: 0;
    background-color: rgba(240, 240, 240, 0);
    transition: background-color 200ms ease-in-out;
  }
}
