.rss-header {
  .nav > li.active {
    > a {
      background-color: transparent;
      border-bottom: solid 3px #333;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.rss-header--fade {
  .navbar {
    border: 0;
    background-color: rgba(240, 240, 240, 0);
    transition: background-color 200ms ease-in-out;
  }
}

.rss-header__logo {
  width: 42px;
  height: 42px;
  margin-top: 4px;
}

.rss-header__social {
  height: $rss-header-social-height-sm;
  color: $rss-white;
  background-color: $rss-header-social-bg;

  .navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 0;
    color: $rss-white;

    &:hover {
      color: darken($rss-white, 10%);
    }
  }

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  @media (min-width: $screen-md-min) {
    height: $rss-header-social-height;
  }
}

.rss-header__nav-item--call-to-action {
  > a {
    color: darken($rss-brand-secondary, 10%) !important;

    &:hover,
    &:focus {
      color: darken($rss-brand-secondary, 15%) !important;
    }
  }
}

.rss-header__btn-menu {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
}
