.rss-page-header {
  margin-top: $rss-header-height;
  color: $rss-white;
  background-color: $rss-brand-secondary;

  h2 {
    margin: $rss-page-header-text-margin 0;
    font-size: 1.6em;

    @media (min-width: $screen-md-min) {
      margin: ($rss-page-header-text-margin * 2) 0;
      font-size: 2em;
    }
  }

  @media (min-width: $screen-md-min) {
    margin-top: $rss-header-height + $rss-header-social-height;
  }
}
