// Colors
// -----------------------------------

$rss-white: #fff !default;


// Header
// -----------------------------------

$rss-header-social-bg: $brand-primary !default;

// Footer
// -----------------------------------

$rss-footer-bg: $brand-primary !default;
